.header {
  height: 200px;
  width: 100%;
  background-color: #E9EEF6;
  padding-top: 50px;
}

.search {}

.sticky {
  position: sticky;
  top: 0;
  margin-bottom: 20;
  z-index: 20;
  background-color: #E9EEF6;
  box-shadow: 0px 2px 5px #808080;

}

.input-group {
  margin-left: -5px !important;
}

.card-outer {
  padding: 10px;
  border-radius: 20px !important;
  margin-top: -15px !important;



}

.card-body {
  border-radius: 20px !important;

}

.card {
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid;
  box-shadow: 0px 2px 2px #a4a4a4;
  position: absolute;
  border-radius: 20px !important;


}

.peach {
  background-color: #ffd196 !important;
}

.dark-peach {
  background-color: #fe9000 !important;
  border-color: #ff9100 !important;
}


.blue {
  background-color: #b8e4ff !important;
}

.dark-blue {
  background-color: #1da8ff !important;
  border-color: #1da8ff !important;
}



.green {
  background-color: #c3ff98 !important;
}

.dark-green {
  background-color: #59d500 !important;
  border-color: #59d500 !important;
}

.yellow {
  background-color: #fffeb2 !important;
}

.dark-yellow {
  background-color: #dfd800 !important;
  border-color: #dfd800 !important;
}



.number {
  position: relative;
  top: 20px;
  left: 10px;
  z-index: 15;
  box-shadow: 0px 2px 5px #808080;
  border-radius: 50px !important;
  border-width: 0px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  color: black !important;
  font-weight: 600 !important;


}

.button-new {
  border-radius: 20px !important;
  margin-left: 15px;
  margin-top: 15px;
}

.card-body {
  /* background-color: antiquewhite; */
  padding-left: 50px !important;
  padding-right: 25px !important;
}

.card-container {
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #7e7e7e;

}

.card-wrapper {
  width: 270px;
  height: 200px;
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
}

.header-text {
  background-color: #E9EEF6;
  border-radius: 10px;
}

.card-top {
  width: 100%;
  height: 2%;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.task-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F7F8;
  padding: 40px 100px;
}